
<div class="container">
  <div class="link-container">
		<div class="link-box">
      <a routerLink="/register">
        <img src="/frontend/assets/images/register-new.png" alt="register" style="width: 42px; height: 42px;">
        <h3>Register</h3>
      </a>
		</div>
    <div class="link-box">
      <a routerLink="/stats">
        <img src="/frontend/assets/images/stats-new.png" alt="stats icon">
        <h3>Stats</h3>
      </a>
    </div>

    <div class="link-box">
      <a routerLink="/checkin">
        <img src="/frontend/assets/images/checkins-new.png" alt="check in">
        <h3>Check in</h3>
      </a>
    </div>
  </div>
</div>
