
<div class="container">
  <div class="link-container">
		<div class="link-box">
      <a routerLink="/register">
        <img src="./assets/images/register.svg" alt="register">
        <h3>Register</h3>
      </a>
		</div>
    <div class="link-box">
      <a routerLink="/stats">
        <img src="./assets/images/stats-icon.svg" alt="stats icon">
        <h3>Stats</h3>
      </a>
    </div>

    <div class="link-box">
      <a routerLink="/checkin">
        <img src="./assets/images/checkin-icon.svg" alt="check in">
        <h3>Check in</h3>
      </a>
    </div>
  </div>
</div>
