
<div class="container">

  <!-- TODO: style bettter smh -->
  <div class="link-container">
		<div class="link-box">
      <a routerLink="/register">
        <img src="/ex01-check-in-team-02/docs/assets/images/register.svg" alt="register">
        <h3>Register</h3>
      </a>
		</div>
    <div class="link-box">
      <a routerLink="/stats">
        <img src="/ex01-check-in-team-02/docs/assets/images/stats-icon.svg" alt="stats icon">
        <h3>Stats</h3>
      </a>
    </div>

    <div class="link-box">
      <a routerLink="/checkin">
        <img src="/ex01-check-in-team-02/docs/assets/images/checkin-icon.svg" alt="check in">
        <h3>Check in</h3>
      </a>
    </div>

    <!-- <div class="link-box"></div>
    <div class="link-box"></div> -->
  </div>
</div>
