<div class="registration-container">
    <div class="input-container">
        <h2>Register</h2>
        <form>
            <label for="first-name" class="label-style">First Name</label>
            <input type="text" id="first-name" name="first-name">
            <label for="last-name" class="label-style">Last Name</label>
            <input type="text" id="last-name" name="last-name">
            <label for="pid" class="label-style">PID</label>
            <input type="number" id="pid" name="pid">
            <button class="button-style" (click)="register()">Register</button>
        </form>
    </div>
</div>
