.registration-container {
    background-color: black; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.input-container {
    width: 613px; 
    height: 601px; 
    background-color: rgba(26, 44, 72, 0.64); 
    border-radius: 10px; 
    border: 0.25px solid #fafafa
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.title { 
    text-align: center; 
    color: #FFF8F8; 
    font-size: 35px; 
    font-weight: 400;  
}

.label-style {
    text-align: left;
    color: #FFF8F8; 
    font-size: 25px; 
    font-weight: 400; 
    line-height: 22px; 
    word-wrap: break-word;
    padding-bottom: 20px;
}

input {
    width: 533px;
    height: 35px;
    background: #D9D9D9;
    border-radius: 5px;
    border: none; 
    margin-bottom: 30px;
}

.button-style {
    width: 191px; 
    height: 48px; 
    background-color: #545F71; 
    border-radius: 10px;
    text-align: center; 
    color: #FFF8F8; 
    font-size: 25px; 
    font-weight: 400; 
    align-self: center;
    margin: 60px;
}