<div class="checkin-confirmation-container">
    <div class="content-container">
        <div class="message-container">
            <div class="backarrow-container">
                <a routerLink="/checkin" className="backarrow"><img src="assets/images/back-arrow.png"></a>
            </div>
           
            <div class="checkmark-container">
                <img src="assets/images/checkmark.png" class="checkmark"/>
                <p>{{ userName }} is Checked In</p>
            </div>
        </div>
    </div>
</div>